/**Body and html styles**/

body {
    font-family: 'Lato', sans-serif;
    background-color: #000000;
}

html, body {
    height: 100%;
    margin: 0rem;
}

/**Division lines**/

hr {
    display: block;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 0.0625rem;
}

/**Navbar Section change navbar color**/

.navbar-fixed-top.scrolled {
    background-color: #18A2B8 !important;
    transition: background-color 200ms linear;
}

#navbarNav a:hover, #footer .link-hover:hover {
    text-shadow: 0px 0px 12px #000000;
}

/**Logo size**/

.logo-img {
    width: 1.875rem !important;
}

/**Carousel**/

.carousel-img-size {
    height: 43.75rem !important;
    text-align: center;
}

/**About Section Styles**/

#about {
    width: 80%;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0.0625rem;
}

p, .row {
    font-weight: 400;
    letter-spacing: 0.0313rem;
    text-align: justify;
}

.scroll-title {
    margin-top: 2.1875rem;
}

.tooltip-inner {
    background-color: #373A3C;
    font-size: 1.125rem;
}

/*Featured Section*/

#featured {
    width: 80%;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0.125rem;
}

.card {
    width: 16.5rem;
    height: 25.0625rem;
}

.card-title {
    color: white;
}

.card-img-size {
    width: 16.375rem;
    height: 9.375rem;
}

/*Go up button*/

#button-up {
    width: 2.5rem;
    height: 2.5rem;
    background: #1592a5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 1.25rem;
    position: fixed;
    bottom: 1.5625rem;
    left: 1.5625rem;
    cursor: pointer;
    border: 0.25rem solid transparent;
    transition: all 300ms ease;
    transform: scale(0);
}

#button-up:hover {
    transform: scale(1.1);
    border-color: rgba(0, 0n, 0, 1);
    box-shadow: 0rem 0rem 1.5625rem 0rem rgba(0, 0, 0, 0.69);
}

/*Contact style*/

#contact hr {
    width: 80%;
}

.contact-typeform {
    width: 80%;
    height: 31.25rem;
}

/*Footer Section*/

.footer-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.875rem;
    text-align: center;
}

.link-hover:hover {
    transform: scale(1.1);
    border-color: rgba(0, 0n, 0, 1);
    transition: all 300ms ease;
}

/*Opacity show scroll effect and move up*/

.ani_box {
    opacity: 0;
    transition: all 0.5s;
}

.show_up {
    animation: show_up 1s;
}

@keyframes show_up {
    0% {
        transform: translateY(3.75rem);
    }
    100% {
        transform: translateY(0);
    }
}